
.homePublicationFlex {
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 3px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
    border-radius: 10px;
    min-height: 300px;
    height: auto;
    width: 80%;
    margin-top: 2%;
    flex-basis: auto;
    margin-left: 10%;
    margin-bottom: 30px;
}

.publicationTopBarFlex{
    display: flex;
    flex-direction: row;
    min-height: 48px;
    height: 16%;
    width: 96%;
    margin-left: 2%;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex:1;
}

.userFlex{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}

.userNameAndTimestamp{
    display: flex;
    flex-direction: column;
}

.publicationContentGrid{
    display: grid;
    position: relative;
    height: 64%;
    min-height: 192px;
    width: 99%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "j j j"
        "k k l";
        flex:1;
}

.normalTextContent{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    height: 80%;
}
.encryptedTextContent{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    height: 80%;
}

.decryptContent{
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    height: 90%;
}

.encryptedText{
    grid-area: k;
    height: 100%;
    margin-left: 5%;
    width: 90%;
}

.normalText{
    grid-area: j;
    height: 100%;
    margin-left: 5%;
    width: 90%;
}

.decryptSend{
    display: flex;
    flex-direction: row;
    height: 30px;
}

.decryptInput{
    width: 40%;
}

.decryptButton{
    width: 15%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); 
}

.decrypt{
    grid-area: l;
    height: 100%;
    width: 90%;
}

.publicationTools{
    grid-area: m;
    min-height: 54px;
    display: grid;
    position: relative;
    width: 99%;
    height: 18%;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "n"
        "o";
        flex:1;
}


.publicationFooterFlex{
    grid-area: n;
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publicationCommentsFlex{
    grid-area: o;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.showMoreCommentsFlex{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.comment {
    min-height: 54px;
    display: grid;
    position: relative;
    width: 99%;
    height: 18%;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "p"
        "q";
    flex:1;
    margin-bottom: 30px;
}

.commentContent {
    grid-area: p;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.commentTools {
    grid-area: q;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.commentText{
    width: 60%;
    margin-left: 5%;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #e0dddd;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #535252;
    border-radius: 15px;
}


.commentsContainer {
    background-color: #F5F5F5;
    float: right;
    max-height: 125px;
    width: 100%;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow-y: scroll;
}

