
.proDiv {
    width: 80%;
    background: blue;
    height: 60px;
    margin: 5px;
}

.buttonText{
    align-self: center;
}

.pressed-blue{
    color: blue;
    box-shadow: 0 4px 0px 0px blue;
}

.proButton{
    height: 100%;
    width: 100%;
    display: flex;
}

.hovered-blue {
    box-shadow: 0 4px 0px 0px blue;
    color: blue;
}

.hovered-red {
    box-shadow: 0 4px 0px 0px red;
    color: red;
}

.notHovered-blue {
    box-shadow: 0 0px 0px 0px blue;
    color: black;
}
.notHovered-red {
    box-shadow: 0 0px 0px 0px red;
    color: black;
}
