.friendBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friendBoxHovered{
    background-color: rgb(221, 215, 215);
}

.friendImgBox{
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 2.5px;   
}

.friendStatusCircle{
    position: absolute;
    top: 5px;
    right: 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}

.friendBoxHover{
    background-color: rgb(207, 202, 202);
}

.friendNonBoxHover{
    background-color: white;
}

.logged {
    background-color: green;
}
.disconnected {
    background-color: red;
}
.away {
    background-color: yellow;
}

.friendColumn{
    align-self: center;
}