.friendBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friendBoxHover{
    background-color: rgb(207, 202, 202);
}

.friendNonBoxHover{
    background-color: white;
}

.logged {
    color: green;
}
.disconnected {
    color: red;
}
.away {
    color: yellow;
}

.friendColumn{
    align-self: center;
}